@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700;800&family=Manrope&display=swap');

:root {
    --bg-gray: rgb(44, 44, 44);
}

#title {
    text-align: center;
}

body {
    background-color: rgb(30, 30, 30);
    color: lightgray;
    font-family: 'Manrope', sans-serif;
}

/* Links */
a {
    text-decoration: none;
    color: rgb(79, 171, 201);
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: rgb(79, 171, 201);
}

/* Make the <hr>s have a dark gray color */
hr {
    border: 1px solid var(--bg-gray);
}

/* center the content and max width of 1080px */
.content {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

/* Give a dark gray background to any p tages */
p {
    color: lightgray;
    background-color: var(--bg-gray);
    padding: 15px;
    border-radius: 10px;
}

/* Make the text inputs full width and pretty */
input:not([type=checkbox]) {
    background-color: var(--bg-gray);
    color: lightgray;
    border: 1px solid var(--bg-gray);
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0px;
    width: calc(100% - 20px);
    outline: none;
    border: 4px solid var(--bg-gray);
    transition: all 0.2s;
}

input:focus {
    border-bottom: 4px solid rgb(79, 171, 201);
    transition: all 0.2s;
}

/* Nice button */
button {
    background-color: rgb(79, 171, 201);
    border: 4px solid rgb(79, 171, 201);
    border-radius: 5px;
    color: black;
    padding: 5px;
    transition: all 0.2s;
}

button:hover {
    background-color: rgb(68, 147, 173);
    border-color: rgb(68, 147, 173);
    transition: all 0.2s;
    cursor: pointer;
}

/* Make the image not overflow on x */
img {
    width: 100%;
    border-radius: 5px;
}

#js-click-counter {
    text-align: center;
}

#js-click-counter p {
    padding: 20px;
}